/* import some fonts  */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');


html {
  min-height: 100%;
  position: relative;
}
body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 150px;
  box-sizing: border-box;
}

/* app component  */
.App {
  margin-bottom: 0;
}

/* header component  */
.navbar {
  border-bottom: 0.5px solid #8f8d8d;
}

.mainLogo{
  animation: spin 4s linear infinite;
}

@keyframes spin { 
  100% { transform: rotate(360deg); } 
}

/* home component  */
.imgApiItem {
  height: 250px;
}

.subtitleHome {
  font-family: "Audiowide", cursive;
}

/* title styles  */
.title {
  margin: auto;
  font-family: "Audiowide", cursive;
}

.large {
  font-size: 4rem;
}

.rise {
  text-shadow: -0.01em -0.01em 0.01em #000;
}

/* reqres component  */
.avatarReqres{
  width: 70px;
  height: 70px;
  box-shadow: 0px 2px 4px #686060;
}

.imgReqresResource{
  width: 70px;
  height: 70px;
}

/* jsonP component  */
.postBtnRadio{
  text-decoration: none;  
  font-weight: light;
  font-size: 30px;
  color: rgb(33, 195, 151);
}
.postBtnRadio:hover{
  color: rgb(11, 119, 90);
  transform: scale(1.1, 1.1);
  text-decoration: underline;
  transition: all 0.2s;
}

/* Poke component  */
.linkPokemonMain{
  text-decoration: none;
}
.h3PokemonMain{
  text-decoration: none;
}
.divPokemonMain{
  background-color: #AED6F1 ;
  border-radius: 15px;
}
.divPokemonMain:hover{
  background-color: #94c0dd ;
}

/* POKEMONLIST COMPONENT  */
.liPokemonItem{
  list-style: none;
  font-family: 'Rubik', sans-serif;
}
.liPokemonItem button{
  background-color: transparent;
  border: 0;
  border-radius: 5px;
}
.liPokemonItem button:hover{
  transition: all 0.3s;
  font-weight: bold;
}

/* pokeLoader */
#containerLoader{
  width: 100px;
  height: 100px;
}

@keyframes animation {
  0% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -105;
  }
  50% {
    stroke-dasharray: 80 10;
    stroke-dashoffset: -160;
  }
  100% {
    stroke-dasharray: 1 98;
    stroke-dashoffset: -300;
  }
}

#spinner {
  transform-origin: center;
  animation-name: animation;
  animation-duration: 1.2s;
  animation-timing-function: cubic-bezier;
  animation-iteration-count: infinite;
}

/* footer component  */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: white;
}

.footerUl li {
  list-style: none;
  text-decoration: none;
  color: #fff;
}

.footerUl li:hover {
  color: black;
  transition: all 0.5s;
}

.footerLinks{
  text-decoration: none;  
  font-weight: light;
}
.footerLinks:hover{
  text-decoration: underline;
  transition: all 0.2s;
}


/* media de home  */
/* @include media-breakpoint-up(md) { */
@media (max-width: 780px) {
  .carouselItem {
    width: 100% !important;
  }
}