/* import some fonts  */
@import url("https://fonts.googleapis.com/css2?family=Audiowide&display=swap");


body {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
}
/* app component  */
.App{
  margin-bottom: 0;
}

/* header component  */
.navbar{
  border-bottom: 0.5px solid #8f8d8d;
}

/* //home component  */
.imgApiItem {
  height: 250px;
}

.subtitleHome{
  font-family: "Audiowide", cursive;
}
/* title styles  */
.title {
  margin: auto;
  font-family: "Audiowide", cursive;
}

.large {
  font-size: 4rem;
}

.rise {
  text-shadow: -0.01em -0.01em 0.01em #000;
}

/* carousel component  */

/* footer component  */
.footerUl li{
  list-style: none;
  text-decoration: none;
}

.footerUl li Link:hover{
  color: black;
}

/* media de home  */
/* @include media-breakpoint-up(md) { */
@media (max-width: 780px){
  .carouselItem {
    width: 100% !important;
  }
}